@import '~bootstrap/scss/bootstrap';

a {
    text-decoration: none;
}

.jumbo_home {
    background-image: url(../../public/images/bg-books.jpeg);
    background-size: cover;
}


.card {
    transition: transform 0.5s, box-shadow 1s;

    &:hover {
        transform: scale(1.03);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
}